<footer class="footer">

    <div class="container-footer">

        <div class="footer-row">

            <div class="footer-links">
                <h4>Peluqueria Mauricio Reyes</h4>
                <ul>
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Retiros</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h4>Dirección y Contacto</h4>
                <ul>
                    <li><a href="https://www.google.com/maps/place/Gran+Av.+Jos%C3%A9+Miguel+Carrera+6543,+7970144+La+Cisterna,+Regi%C3%B3n+Metropolitana/@-33.5163345,-70.6585096,17z/data=!4m6!3m5!1s0x9662dae672d07fe1:0xf3363867de3b534f!8m2!3d-33.5164083!4d-70.6583423!16s%2Fg%2F11c287knzp?entry=ttu&g_ep=EgoyMDI0MTAyMS4xIKXMDSoASAFQAw%3D%3D">Gran avenida Jose Miguel Carrera 6543 <br>Galeria Nebeck local 22 <br>La Cisterna</a></li>
                    <li><a href="#">+569 4574 7265</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h4>Redes Sociales</h4>
                <div class="social-links">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                </div>
            </div>


        </div>

    </div>

</footer>
